<template>
  <div class="wrapper">
    <parallax class="page-header header-filter" :style="headerStyle">
      <div class="md-layout">
        <div class="md-layout-item">
          <div class="image-wrapper">
            <div class="brand" >
              <h1>E2B Rannking</h1>
              <h3>It is a long established fact that a reader will be</h3>
          </div>
          </div>

          <div class="md-layout md-gutter">
            <div class="md-layout-item md-xsmall-size-100">
              <md-field>
                <label for="first-name">Site web</label>
                <md-input name="first-name" id="Site-web" autocomplete="given-name"  />
              </md-field>
            </div>

              <div class="md-layout-item md-xsmall-size-100">
                  <md-field>
                      <label for="first-name">Secteur</label>
                      <md-input name="first-name" id="Secteur" autocomplete="given-name"  />
                  </md-field>
              </div>
            <div class="md-layout-item md-xsmall-size-100">
              <md-field>
                <label for="first-name">Pays</label>
                <md-input name="first-name" id="Pays" autocomplete="given-name"  />
              </md-field>
            </div>

            <div class="md-layout-item md-xsmall-size-100">
              <md-datepicker v-model="selectedLabeled">
              <label>Choisir une date</label>
            </md-datepicker>
            </div>

            <md-list-item
                    href=#
                    target="_blank"
            >
              <md-button class="md-danger">Chercher</md-button>
            </md-list-item>

          </div>
        </div>
      </div>
    </parallax>

    <div class="main main-raised">
      <div class="section section-basic">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2>Completed with examples</h2>
          <h4>The kit comes with three pre-built pages to help you get started faster. </h4>
          <h4>You can change the text and images and you're good to go. More importantly, looking at them will give you a picture of what you can built with this powerful kit.</h4>
        </div>
      </div>
    </div>
      <div class="col-md-8 ml-auto mr-auto text-center">
        <img src="../assets/img/char.jpg" alt="char">
        </div>


  </div>
  </div>
</template>

<script>
import BasicElements from "./components/BasicElementsSection";
import Navigation from "./components/NavigationSection";
import SmallNavigation from "./components/SmallNavigationSection";
import Tabs from "./components/TabsSection";
import NavPills from "./components/NavPillsSection";
import Notifications from "./components/NotificationsSection";
import TypographyImages from "./components/TypographyImagesSection";
import JavascriptComponents from "./components/JavascriptComponentsSection";
import { LoginCard } from "@/components";

export default {
  name: "index",
  bodyClass: "index-page",
  props: {
    image: {
      type: String,
      default: require("@/assets/img/vue-mk-header.jpg")
    },
    signup: {
      type: String,
      default: require("@/assets/img/city.jpg")
    },
    landing: {
      type: String,
      default: require("@/assets/img/landing.jpg")
    },
    profile: {
      type: String,
      default: require("@/assets/img/profile.jpg")
    }
  },
  data() {
    return {
      firstname: null,
      email: null,
      password: null,
      leafShow: false
    };
  },
  methods: {
    leafActive() {
      if (window.innerWidth < 768) {
        this.leafShow = false;
      } else {
        this.leafShow = true;
      }
    },
    initPerformanceChart () {
      const dataPerformance = {
        labels: ['6pm', '9pm', '11pm', '2am', '4am', '8am', '2pm', '5pm', '8pm', '11pm', '4am'],
        series: [
          [1, 6, 8, 7, 4, 7, 8, 12, 16, 17, 14, 13]
        ]
      }
      const optionsPerformance = {
        showPoint: false,
        lineSmooth: true,
        axisX: {
          showGrid: false,
          showLabel: true
        },
        axisY: {
          offset: 40

        },
        low: 0,
        high: 16,
        height: '250px'
      }
      Chartist.Line('#chartPerformance', dataPerformance, optionsPerformance)
    }
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.image})`
      };
    },
    signupImage() {
      return {
        backgroundImage: `url(${this.signup})`
      };
    }
  },
  mounted() {
    this.leafActive();
    window.addEventListener("resize", this.leafActive);
    this.initPerformanceChart();
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.leafActive);
  },
  data () {
    return {
      selectedLabeled: null
    }
  }
};
</script>
<style lang="scss">
.section-download {
  .md-button + .md-button {
    margin-left: 5px;
  }
}
@media all and (min-width: 991px) {
  .btn-container {
    display: flex;
  }
}
</style>
