<template>
  <div class="wrapper">
    <div class="section page-header header-filter" :style="headerStyle">
      <div class="container">
        <div class="md-layout">
          <div
            class="md-layout-item md-size-33 md-small-size-66 md-xsmall-size-100 md-medium-size-40 mx-auto"
          >
            <login-card header-color="red">
              <h4 slot="title" class="card-title">Nous rejoindre</h4>
              <md-button
                slot="buttons"
                href="javascript:void(0)"
                class="md-just-icon md-simple md-white"
              >
                <i class="fab fa-facebook-square"></i>
              </md-button>
              <md-button
                slot="buttons"
                href="javascript:void(0)"
                class="md-just-icon md-simple md-white"
              >
                <i class="fab fa-twitter"></i>
              </md-button>
              <md-button
                slot="buttons"
                href="javascript:void(0)"
                class="md-just-icon md-simple md-white"
              >
                <i class="fab fa-google-plus-g"></i>
              </md-button>
              <md-field class="md-form-group" slot="inputs">
                <label>Site Web</label>
                <md-input v-model="website"></md-input>
              </md-field>
              <md-field class="md-form-group" slot="inputs">
                <label>Prénom</label>
                <md-input v-model="firstname"></md-input>
              </md-field>
              <md-field class="md-form-group" slot="inputs">
                <label>Fonction</label>
                <md-input v-model="fonction"></md-input>
              </md-field>
              <md-field class="md-form-group" slot="inputs">
                <label>Numéro de téléphone</label>
                <md-input v-model="phone"></md-input>
              </md-field>
              <md-field class="md-form-group" slot="inputs">
                <label>Société</label>
                <md-input v-model="societe"></md-input>
              </md-field>
              <md-field class="md-form-group" slot="inputs">
                <label>Lien du site web</label>
                <md-input v-model="link"></md-input>
              </md-field>
              <md-field class="md-form-group" slot="inputs">
                <label>Message</label>
                <md-textarea v-model="message"></md-textarea>
              </md-field>
              <md-button  slot="footer"  class="d-simple md-danger md-sm">
                Envoyer
              </md-button>
            </login-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { LoginCard } from "@/components";

export default {
  components: {
    LoginCard
  },
  bodyClass: "login-page",
  data() {
    return {
      firstname: null,
      email: null,
      password: null
    };
  },
  props: {
    header: {
      type: String,
      default: require("@/assets/img/profile_city.jpg")
    }
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.header})`
      };
    }
  }
};
</script>

<style lang="css"></style>
