<template>
  <footer
    class="footer"
    :class="{ [`footer-${type}`]: type }"
    :data-background-color="backgroundColor"
  >
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="https://www.creative-tim.com">
              Accueil
            </a>
          </li>
          <li>
            <a href="https:///presentation.creative-tim.com">
              À-propos
            </a>
          </li>
          <li>
            <a href="https:///blog.creative-tim.com">
              Services
            </a>
          </li>
          <li>
            <a href="https://www.creative-tim.com/license">
              Formation
            </a>
          </li>
          <li>
            <a href="https://www.creative-tim.com/license">
              Contact
            </a>
          </li>
        </ul>
      </nav>
      <div>
        E2B Ranking
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  props: {
    backgroundColor: String,
    type: String
  },
};
</script>
<style></style>
